/* I reset generaly here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.calculator {
    background-color: #242530;
    width: 100%; 
    max-width: 450px; 
    padding: 24px;
}

.display-container {
    background-color: #3A3F77;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 24px;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative; 
}

#display {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
    text-align: right;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.btn {
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease, background 0.2s;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

/* Colors */
.number { background-color: #3b3d58; font-size: 24px; border-radius: 50px; width: 100%; height: 50px; }
.operator { background-color: #F49D1A; font-size: 24px; border-radius: 50%; width: 100%; aspect-ratio: 1/1; }
.backspace { background-color: #3b3d58; }
#equal { background-color: #B2B2B2; color: black; border-radius: 50%; aspect-ratio: 1/1; }
.orange { background-color: #F49D1A; }

/* History Positioning */
.history {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

/* Hover/Active */
.btn:active { transform: scale(0.95); opacity: 0.8; }
.btn:hover { filter: brightness(1.2); }


@media (min-width: 451px) {
    .calculator {
        width: 140%; 
    }

    .number {
        width: 79px; 
        height: 52px; 
    }

    .operator {
        width: 52px; 
        height: 52px;
    }
}


@media (max-width: 450px) {
    .buttons {
        gap: 10px;
    }
    #display {
        font-size: 2rem;
    }
    .number {
        width: 58px;
        height: 45px;
        font-size: 20px;
        text-align: center;
    }
     .operator {
        width: 45px; 
        height: 45px;
        font-size: 20px;
        text-align: center;
    }
}